[Unit]
Description=autofs-standby watchdog service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/autofs-standby/standby_watchdog.py

[Install]
WantedBy=multi-user.target
